body { 
    background-color: #dfe6e9;
}

#container { 
    background-color: #ffffff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height:140%;
}

.contenu_skills{
    color :#8395a7;
    margin-left:5%;
}

#hard_skills{
    background-color: #dd6767;
    width: 67%;
    height: 50%;
    float: left;
}

#haut { 
    background-color: #01a3a4;
    width: 100%;
    height: 25%;
}

#lien_linkedin{
    color: #eeeeee;
}


#photo_cv{
    padding : 2%;
    float : left;
}

#p_haut{
    padding: 2%;
}

#soft_skills{
    background-color: #cccccc;
    width: 32%;
    height: 50%;
    float: left;
}

.titres_skills{
    color: #222f3e;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    margin-bottom: 3%;
}
