body { 
    background-color: #dfe6e9;
}

#container { 
    background-color: #ffffff;
    width: 60%;
    margin-left: auto;
    margin-right:auto;
    height:140%;
}

#haut { 
    background-color: #55efc4;
    width: 100%;
    height: 25%;
}

#lien_linkedin{
    color: #0984e3;
}


#photo_cv{
    padding : 2%;
    float : left;
}

#p_haut{
    padding: 2%;
}





 
table {border:0px;
width:70%;
margin:auto;
border-collapse: collapse;

}
td, th { padding:10px;
}
.altrow { background-color:#ccaa66;
}


    
.floatright { padding-left: 90px;
       float: right;
       }
    
       
 
#leftcolumn { background-color: #F1E8B0;
       float: left;
       width: 150px;
       padding-top: 170px;
       }
    

    
#rightcolumn { margin-left: 150px;
        color: #000000;
        padding: 10px;
        }
    
#footer { background-color: #CCAA66;
   color: #000000;
   border-top: 2px double #000000;
   font-size: .60em;
   font-style: italic;
   text-align: center;
      }
      
img {border:0 }