#anim{
    color: #222f3e;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 3%;
    animation-name: animation;
    animation-duration: 5s;
}

#audio{
    margin-left: 30%;
}

@keyframes animation {
    0%   { margin-left:0px; }
    50%  { margin-left:300px; }
    100% {margin-left:0px; }
  }

body { 
    background-color: #dfe6e9;
}

#container { 
    display: grid;
    grid-template-areas:
      'haut haut haut haut haut haut haut haut haut haut'
      'soft soft hard hard hard hard hard hard hard hard'
      'soft soft hard hard hard hard hard hard hard hard'
      'soft soft hard hard hard hard hard hard hard hard'
      'soft soft hard hard hard hard hard hard hard hard'
      'contact contact contact contact contact contact contact contact contact contact '
      'contact contact contact contact contact contact contact contact contact contact '
      'contact contact contact contact contact contact contact contact contact contact ';

    background-color: #ffffff;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height:200%;
}

#contact{
  grid-area: contact;
  background-color : #01a3a4;
}

.contenu_skills{
    color :#2a2c2e;
    margin-left:5%;
}

#form{
    text-align: center;
}

#hard_skills{
    grid-area: hard;
    background-color: #ffffff;
}

#haut { 
    grid-area: haut;
    background-color: #01a3a4;
}

#lien_linkedin{
    color: #eeeeee;
}

.nav{
    color: #222f3e;
    text-align: center;
    font-size: 16px;
}

#photo_cv{
    padding : 2%;
    float : left;
}

#p_haut{
    padding: 2%;
}

#soft_skills{
    grid-area: soft;
    background-color: #ffffff;
}

.titres_skills{
    color: #222f3e;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    margin-bottom: 3%;
}
